@import "tailwindcss";

#root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden !important;
}
